
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}


header {
    background-color: #333;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}



header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

header .nav-links li {
    display: inline-block;
}

header .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

header .nav-links a:hover {
    color: #ff7e5f;
}


.hero {
    background: linear-gradient(135deg, #6a5fff, #feb47b);
    color: white;
    padding: 100px 0;
    text-align: center;
    margin-top: 70px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero span {
    color: #fff;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero .cta-button {
    background-color: #fff;
    color: #111583;
    padding: 12px 25px;
    font-size: 1.1rem;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero .cta-button:hover {
    background-color: #df82cd;
    color: #fff;
}


.about {
    padding: 80px 0;
    text-align: center;
    background-color: #fff;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.about p {
    font-size: 1.1rem;
    max-width: 900px;
    margin: 0 auto;
}


.skills {
    padding: 80px 0;
    background-color: #f4f4f4;
}

.skills h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
}

.skill-card {
    background-color: #e190ef;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.projects {
    padding: 80px 0;
    background-color: #fff;
}

.projects h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

.project-card {
    background-color: #f9f9f9;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1}
